on:
  push:
    branches:
      - master
  pull_request:

jobs:
  boo:
    runs-on: ubuntu-20.04
    steps:
      - run: "exit 1"

  great:
    runs-on: ubuntu-20.04
    steps:
      - run: "exit 0"

  what:
    runs-on: ubuntu-20.04
    # This job always skips
    if: github.head_repository.full_name == 'getsentry/sentry'
    steps:
      - run: "exit 0"

  collector:
    # If all the jobs pass, this check will pass
    # If one of the jobs is skipped or failed, this check will be skipped *and*
    # counting to have met the criteria for Required jobs
    needs: [boo, great, what]
    # The name has to match the name from the next job
    name: Required Check
    runs-on: ubuntu-20.04
    steps:
      - name: Check for failures
        # This sadly requires duplication of the list declated in needs
        if: needs.boo.result != 'success' || needs.great.result != 'success' || needs.what.result != 'success'
        run: "exit 1"
